.SwapSummary {
  display: flex;
  flex-direction: column;
  width: 320px;

  & .ReviewText {
    font-size: 14px;
    letter-spacing: -0.03em;
    line-height: 16px;
    margin-bottom: 16px;
  }

  & .SwapBox {
    display: flex;
    flex-direction: column;
    & .SwapInput {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & .Label {
        text-transform: uppercase;
        text-align: left;
      }

      & .Input {
        display: flex;
      }
    }
  }

  & .GasFeeSection {
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:10px 0;
  }

  & .TotalBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    margin-top: 13px;

    & .TotalAmount {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: -0.03em;
      display:flex;
      flex-direction: column;
    }

    & .LabelBox {
      display: flex;
      flex-direction: column;

      & .Label {
        font-size: 14px;
        font-weight: bold;
      }

      & .SubLabel {
        color: #9eaeb8;
        font-size: 12px;
        letter-spacing: -0.03em;
      }
    }
  }

  & .ButtonsContainer {
    display: flex;
    justify-content: space-between;

    & > button {
      width: 49%;
    }
  }
}
