@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import "./colors.scss";

body {
  height: var(--app-height) !important;
  width: var(--app-width) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  pointer-events: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
